@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-primary-text bg-gray-100;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

/* Customize slick slider */
.slick-prev, .slick-next {
  @apply z-10;
  width: 16px !important;
  height: 28px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  font-size: 0 !important; /* Hide default text */
}

.slick-prev::before, .slick-next::before {
  content: "" !important;
}


.slick-prev {
  transform: rotate(180deg) !important;
  background-image: url('/assets/svg/slick-arrow.svg') !important;
  left: 10px !important;
}
.slick-next {
  background-image: url('/assets/svg/slick-arrow.svg') !important;
  right: 10px !important;
}

.slick-arrow {
  z-index: 15;
  opacity: 1 !important;
  cursor: pointer;
}

.slick-dots li button:before {
  opacity: 1 !important;
  font-size: 16px !important; /* 16px dots */
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  padding: 0 !important;
  color: transparent !important; /* secondary-text */
  border: #363B5C 1px solid;
  border-radius: 16px;
}
.slick-dots li.slick-active button:before {
  color: #363B5C !important; /* category-wiedza */
}
.slick-slide {
  @apply px-[28px]; /* 56px gap */
}

/* Move dots to top and center */
.slick-dots-top {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 20px;
}

header {
  @apply bg-white;
}
header h1 {
  @apply text-3xl text-[#4A90E2] font-display;
}